
Library
Logs/Packages-Update.log
Packages/manifest.json

/Library/Artifacts/00/002b6e113955fd9170ea7814405d69ae
/Library
/obj/Debug
/Temp
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/THGame.sln
/.vs/THGame/v15/Server/sqlite3
.vs/THGame/v15/.suo
.vs/*
Temp
/.idea/.idea.THGame2/.idea/.gitignore
/Assets/XLua/Gen/CommonClickableWrap.cs
/Assets/XLua/Gen/CommonPlayerWrap.cs
/.idea/.idea.THGame/.idea/contentModel.xml
/.idea/.idea.THGame2/.idea/contentModel.xml
/Assets/XLua/Gen/CoreDataCenterWrap.cs
/Assets/XLua/Gen/DelegatesGensBridge.cs
/Assets/XLua/Gen/DGTweeningCoreABSSequentiableWrap.cs
/Assets/XLua/Gen/DGTweeningCoreExtensionsWrap.cs
/Assets/XLua/Gen/DGTweeningCoreTweenerCore3UnityEngineVector3UnityEngineVector3DGTweeningPluginsOptionsVectorOptionsWrap.cs
/Assets/XLua/Gen/DGTweeningDOTweenModuleUIWrap.cs
/Assets/XLua/Gen/DGTweeningDOTweenWrap.cs
/Assets/XLua/Gen/DGTweeningDOVirtualWrap.cs
/Assets/XLua/Gen/DGTweeningEaseFactoryWrap.cs
/Assets/XLua/Gen/DGTweeningSequenceWrap.cs
/Assets/XLua/Gen/DGTweeningShortcutExtensionsWrap.cs
/Assets/XLua/Gen/DGTweeningTweenerWrap.cs
/Assets/XLua/Gen/DGTweeningTweenExtensionsWrap.cs
/Assets/XLua/Gen/DGTweeningTweenParamsWrap.cs
/Assets/XLua/Gen/DGTweeningTweenSettingsExtensionsWrap.cs
/Assets/XLua/Gen/DGTweeningTweenWrap.cs
/.idea/.idea.THGame2/.idea/encodings.xml
/Assets/XLua/Gen/EnumWrap.cs
/Assets/XLua/Gen/EXAudioExWrap.cs
/Assets/XLua/Gen/EXScrollListExWrap.cs
/Assets/XLua/Gen/GameIBuffBridge.cs
/Assets/XLua/Gen/GameIBuffWrap.cs
/Assets/XLua/Gen/GameICardBridge.cs
/Assets/XLua/Gen/GameICardWrap.cs
/Assets/XLua/Gen/GameIPlayerBridge.cs
/Assets/XLua/Gen/GameIPlayerWrap.cs
/Assets/XLua/Gen/GameISkillBridge.cs
/Assets/XLua/Gen/GameISkillWrap.cs
/Assets/XLua/Gen/GlobalWrap.cs
/.idea/.idea.THGame2/.idea/indexLayout.xml
/Assets/XLua/Gen/LibILuaControllerBridge.cs
/Assets/XLua/Gen/LibILuaControllerWrap.cs
/Assets/XLua/Gen/LibILuaDataBridge.cs
/Assets/XLua/Gen/LibILuaDataWrap.cs
/Assets/XLua/Gen/LibKeyCodeWrap.cs
/Assets/XLua/Gen/LibListenerWrap.cs
/Assets/XLua/Gen/link.xml
/Assets/XLua/Gen/LuaFrameworkILuaMethodBridge.cs
/Assets/XLua/Gen/LuaFrameworkILuaMethodWrap.cs
/Assets/XLua/Gen/ManagerAnimationWrap.cs
/Assets/XLua/Gen/ManagerSoundWrap.cs
/.idea/.idea.THGame/.idea/modules.xml
/.idea/.idea.THGame2/.idea/modules.xml
/Assets/XLua/Gen/NetNetHelperWrap.cs
/Assets/XLua/Gen/PackUnpack.cs
/Assets/XLua/Gen/PbGenWrap.cs
/Assets/XLua/Gen/PrefabCardDisplayScriptWrap.cs
/.idea/.idea.THGame2/.idea/projectSettingsUpdater.xml
/.idea/.idea.THGame/riderModule.iml
/.idea/.idea.THGame2/riderModule.iml
/Assets/XLua/Gen/SceneMainSceneLobbyTalkScriptWrap.cs
/Assets/XLua/Gen/SceneSettingSceneVoicePanelWrap.cs
/.vscode/settings.json
/THGame.sln.DotSettings.user
/THGame2.sln
/Assets/XLua/Gen/TimerWrap.cs
/Assets/XLua/Gen/UtilExtendMethodsWrap.cs
/Assets/XLua/Gen/UtilILoaderBridge.cs
/Assets/XLua/Gen/UtilILoaderWrap.cs
/Assets/XLua/Gen/UtilLoaderWrap.cs
/Assets/XLua/Gen/UtilModelDialogWrap.cs
/Assets/XLua/Gen/UtilPool2Wrap.cs
/Assets/XLua/Gen/UtilpoolDefaultPoolWrap.cs
/Assets/XLua/Gen/UtilpoolGameObjectPoolWrap.cs
/Assets/XLua/Gen/UtilpoolIPoolWrap.cs
/Assets/XLua/Gen/UtilPoolWrap.cs
/.idea/.idea.THGame2/.idea/vcs.xml
/Assets/XLua/Gen/WrapPusher.cs
/Assets/XLua/Gen/XLuaGenAutoRegister.cs
/.idea/.idea.THGame/.idea/dictionaries/yuki.xml
/Assets/XLua/Gen
/Assets/XLua/Gen.meta

.idea
/Assets/.lpproj
LuaDebuggee.dll
/ProjectSettings
/Assets/ThirdParty
/Assets/ThirdParty.meta

/ProjectSettings/
ProjectVersion.txt
.vscode/launch.json
ProjectSettings/ProjectVersion.txt

build/
